.navbar-container {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.prima-riga {
  display: flex;
  background-color: #ffc107;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.seconda-riga {
  display: flex;
  background-color: rgb(168, 17, 17);
  text-align: center;
  padding: 0.5rem;
}

.scudetto-logo {
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  transform: translateY(-50%);
}

.asroma-logo {
  height: 7rem;
}

.sponsor {
  justify-content: space-between;
  display: flex;
  margin-left: 88rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.sponsor-season {
  width: 3rem;
  height: auto;
}

.sponsor-adidas {
  width: 1.8rem;
  height: auto;
}

.destra {
  display: flex;
  flex-direction: row;
}

.contenuto-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenitore-menu {
  margin-left: 5rem;
}

.menu {
  width: 1.30rem;
  height: 1.30rem;
  cursor: pointer;
  margin-left: 5rem;
}

.element {
  color: white;
  margin: 0 10px;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
}
.elementi-navbar {
  font-size: 0.9rem;
  margin-right: 10rem;
  justify-content: space-between;
  display: flex;
}

.lingua {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 17rem;
  justify-content: space-between;
}

.lingua-selettore {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icona-freccia {
  width: 1rem;
}
.ricerca {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.icona-ricerca {
  width: 1rem;
}

.biglietti-shop {
  display: flex;
  gap: 1rem;
}

.botton-navbar {
  border: 1rem solid white;
  background: transparent;
  gap: 1rem;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
}

.biglietti-shop {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.voce {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 0.9rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
}

.icona-bottone {
  width: 1.25rem;
  height: 1.25rem;
}

.contenitore-accedi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accedi {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 5rem;
  color: white;
  font-weight: 600;
}

.freccia-icona {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  
}
